* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

#nav-bar {
    position: sticky;
    top: 0;
    z-index: 10;

}

.navbar {
    background: rgb(16, 31, 50);
    background: linear-gradient(161deg, rgba(16, 31, 50, 1) 52%, rgba(21, 73, 140, 1) 100%);
    padding: 0 !important;

}

.logo {
    height: 40px;
    padding-left: 20px;
}

.navbar-nav li {
    padding: 0 10px;

}

.navbar-nav li a {
    color: #fff !important;
    font-weight: 500;

}

.navbar-toggler {
    outline: none !important;
}

/*--------banner section---------*/

#banner {
    background: rgb(16, 31, 50);
    background: linear-gradient(161deg, rgba(16, 31, 50, 1) 52%, rgba(21, 73, 140, 1) 100%);
    color: #fff;
    padding-top: 5%;

}

.promo-title {
    font-size: 40px;
    font-weight: 500;
    margin-top: 100px;

}

.image-two {
    width: 350px;
    height: 320px;
}

@media screen and (max-width: 576px) {
    .promo{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        margin-top: -40px;
    }
    .promo-title {
        font-size: 25px;
        margin-bottom: 7px;
    }

    .promo-subtitle {
        width: 310px;
        font-size: 15px;
        margin-bottom: 15px;
    }

    .image-two {
        /* width: 250px;
        height: 250px; */

        width: 300px;
        height: 300px;
    }
}
.bottom-img
{
    width:100% ;
}

/*--------Treatments section---------*/

#Treatments
{
    padding: 80px 0;
    text-align: center;
}
.Treatments-img
{
    width: 100px;
    margin-top: 20px;
    
}
.audit-img
{
    width: 91px;
    margin-top: 20px;
    
}


.Treatments
{
    padding: 20px;
}
.Treatments h4
{
margin: 5px;
margin-top: 25px;

}
.second-head::before
{
content: '';
background:rgb(16, 31, 50) ;
height: 5px;
width: 200px;
margin-left: auto;
margin-right: auto;
display: block;
margin-top: -20px;
transform: translateY(60px);

}
.accounting-img
{
    width: 70px;
    margin-top: 20px;
    
}
.discription
{
    margin-top: 30px;
    font-size: 25px;
    align-items: center;
    text-align: justify;
    padding: 20px;
}
/*--------social media---------*/

#social-media
{
    padding: 20px;
}
#social-media p
{
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 30px;

}
.social-icons img
{
width: 60px;
transition: 0.5s;
padding: 10px;
}
.social-icons a:hover img
{
transform: translateY(-10px);
}
/*--------footer section---------*/

#footer
{
    background: rgb(16, 31, 50);
    background: linear-gradient(161deg, rgba(16, 31, 50, 1) 52%, rgba(21, 73, 140, 1) 100%);
    color: #fff;

}
.footer-img
{
    width: 100%;
}
.footer-logo
{
    width: 250px;
    padding: 10px;
    margin-left: -10px;
    
}
.footer-box
{
    padding: 10px;
    padding-top: 25px;
}